[*.cs]

# CA2000: 丢失范围之前释放对象
dotnet_diagnostic.CA2000.severity = none

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1829: Use Length/Count property instead of Count() when available
dotnet_diagnostic.CA1829.severity = none
